/* Add Your Styles Here */

body{
font-family: Arial, sans-serif;
    margin: 0;

}
.main-header{
    background-size:cover;
    background-image: url("images/technology.JPG");
    color: white;
    padding: 14px;
    text-align: right;
}
.active{
    background-color: springgreen;

}
.main-nav{
    background-color: black;
    margin-bottom: 0;

}
.main-nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;


}
 /*nav ul li a:visited{*/
     /*background-color: springgreen;*/


/*}*/



.main-nav ul li{

    float: left;


}
.main-nav ul li a{
    text-decoration: none;
    display: inline-block;
    color: white;
    font-size: 18px;
    padding: 10px 25px;


}
.main-nav ul li a:hover{
    background-color: #849273;
}
.flash-news{
    background-color: black;
    color: white;
    font-size: 16px;
    font-family: Arial, sans-serif;
    padding: 2px;
    margin-top: 5px;
    animation: news 2s infinite linear;
    overflow: hidden;


}
@keyframes news {
    0%,50%,100%{background-color: black}
    25%,75%{background-color:#7f896f;}
}

.flash-news p{
    animation: flash-news 14s infinite linear;
}
@keyframes flash-news {
    0%{
        transform: translate(100%);
    }
    100%{
        transform: translate(-80%);
    }

}
.flash-news span{
    color: orangered;

}
.main-news-section{
    width: 1100px;
    margin: auto auto auto 150px;
}
.main-news-article{
    border: 2px solid black;
    margin: 5px;
    text-align: center;
    height: 550px;
    width: 330px;
    float: left;
    border-radius: 10px;
    transition: all 0.5s;

}
.main-news-article:hover{
    width: 340px;
    box-shadow: 0 0 15px black;
}
.break{
    clear: both;
}
.main-news-article img{
    width: 100%;
    margin: auto;

}


.main-news-article .main-news-div{
    padding: 0 20px;
    font-size: 17px;


}
.home-news-section{
    width: 1100px;
    margin: auto;
}

.home-news-article h2{
text-align: center;
    padding: 10px 70px;
    background: linear-gradient(to right,forestgreen,black,forestgreen);
    border-radius: 20px;
    box-shadow: 0 0 15px black;
    color:white;
}
.home-news-article .img-zoom{
    border: none;
    height: 350px;
    width: 550px;
    margin: auto;
    box-shadow: 0 0 15px black;
    border-radius: 10px;
    overflow: hidden;
}
.img-zoom img{
    height: inherit;
    width: inherit;
    border-radius: inherit;

    transition: all 1s;

}
.home-news-article .img-zoom:hover img{
    transform: scale(1.2,1.2);
}
.main-footer {
    color: white;
    padding: 20px;
    text-align: center;
    background: linear-gradient(to right, #7a866f, black, #7a866f);

}
.main-footer a{
    color: orange;
    font-weight: bold;
    text-decoration: none;
}

.gallery-section .gallery-article{
    height: 300px;
    width: 320px;
    margin: 3px;
    border-radius: 10px;
    border: 2px solid black;
    overflow: hidden;

}
.gallery-article .about-article img:hover{
    transform:scale(1.2,1.2)

}
.gallery-article:hover {
    box-shadow: 0 0 15px black;

    /*animation: swing1 1s;*/

}
/*@keyframes swing1 {*/
    /*0%{*/
        /*transform: rotateZ(0deg);*/
    /*}*/
    /*50%*/
    /*{*/
        /*transform: rotateZ(-30deg);*/
    /*}*/
    /*100%{*/
        /*transform: rotateZ(0deg);*/
    /*}*/


/*}*/



.gallery-article{
    display: inline-block;
}
.gallery-section .gallery-article .imgg{
    height: 250px;
    width: 310px;
    border: none;

    margin: auto;
    margin-top: 6px;
    overflow: hidden;
    border-radius: 10px;
}
.gallery-section .gallery-article .imgg img{
    height: inherit;
    width: inherit;
    border-radius: inherit;
    margin: auto;
    transition: all 1s;

}
.gallery-section .gallery-article .imgg img:hover{
    transform: scale(1.2,1.2);
}

.gallery-article p{
    text-align: center;
    margin-bottom:10px;
}
.about-section{
    padding-top: 30px;
    margin: 0;
    background: white url("images/image6.jpeg") no-repeat fixed top;

}
.about-section .about-article{
    border: 0px solid black;
    padding: 5px;
    padding-bottom: 40px;
    margin: 130px;
    background:white url("images/image5.jpeg") no-repeat scroll bottom;
    color: white;
    border-radius: 20px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0  0 15px black;
    transition: all 1s;
    animation: hhh 1s linear;
}
@keyframes hhh {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
    
}
.about-section .about-article:hover{
    transform: rotateY(-40deg);
}
.about-section .company-images{
    margin-left: 140px;
}

.about-section .company-images img{

    height: 170px;
    width: 250px;
    display: inline-block;
    margin: 10px;
    border-radius: 30px;
    box-shadow: 0 0 15px black;
    transition: all 1s;
}
.about-section .company-images img:hover{
    transform: rotateX(30deg);
}
.contact{
    margin: 0;
    padding-top:30px;
    padding-bottom: 30px;
    background:white url("images/image5.jpeg") no-repeat scroll bottom;
    background-size: cover;


}
.contact .form-div {
    border: 1px solid black;
    height: 430px;
    width: 300px;
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    /*animation:kkk 1s linear;*/
    box-shadow: 0 0 15px black;

}
/*@keyframes kkk {*/
    /*0%{*/
        /*transform: translateY(-100%);*/
    /*}*/
    /*100%{*/
        /*transform: translateY(0%);*/
    /*}*/
/*}*/
/*.contact .form-div:hover {*/
    /*animation: xxx 2s linear;*/

/*}*/
    /*@keyframes xxx {*/

      /*0%{*/
          /*transform: rotateY(0deg);*/
      /*}*/
        /*50%{*/
            /*transform: rotateY(180deg);*/
        /*}*/
        /*100%{*/
            /*transform: rotateY(360deg);*/
        /*}*/
    /*}*/


.contact .form-div p{
    font-size: 20px;
}
.contact .form-div input[type='email'],input[type='text'],textarea{
    border: 0px solid red;
    background: rgba(0,0,0,0.0);
    color: white;
    font-size: 20px;
    margin-bottom: 20px;
    outline: none;

    text-align: center;
}
.contact .form-div textarea{
    border: 3px solid #7a8567;
    border-radius: 10px;
}
.contact .form-div textarea:focus{
    border: 3px solid #5ec95a;
}
 .contact .form-div input[type='text']{
    border-bottom:3px solid #7a8567 ;
}
 .contact .form-div input[type="email"]{
     border-bottom:3px solid #7a8567;
 }
.contact .form-div input[type='text']:focus{
    border-bottom: 3px solid #5ec95a;
}.contact .form-div input[type='email']:focus{
    border-bottom: 3px solid #5ec95a;
}
.contact .form-div input::placeholder{
    color: white;
}
.contact .form-div #contact-button{
    border-radius: 30px;
    background: limegreen;
    padding: 10px 40px ;
    margin: 5px;

    color:white;
    font-size: 16px;
    outline: none;
    border: none;
}
.contact .form-div #contact-button:hover {
box-shadow: 0 0 15px white;
    background: deepskyblue;
}